body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 45vw;
  height: 45vw;
  margin: auto;
  border: 5px solid var(--main-color);
  border-radius: 10px;
}
